.cardInner {
    display: grid;
    grid-template-areas: "header header" "side content" "footer footer";
    grid-template-rows: auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
