<div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="100" >
        <mat-card-header fxLayoutAlign="center center" >
            <mat-card-title>
                <h3 style="color: rgb(22, 3, 189)">Login</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                        required>
                </mat-form-field>

            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      
        <mat-card-actions style="max-width: 40%;" fxLayout="column" fxLayoutAlign="center center">
            <button  mat-raised-button color="primary" (click)="login()">Continue <mat-icon>arrow_forward</mat-icon></button>
        </mat-card-actions>
    </mat-card-content>
    </mat-card>
</div>