<mat-toolbar color="primary" style="min-height: 90px !important; padding: 10px;">
  <mat-toolbar-row>
    <mat-icon class="example-icon" aria-hidden="false">shopping_cart</mat-icon>
    <span style="font-weight: bolder"> Shopify</span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <button mat-button *ngIf="routeCheck()" (click)="logout()"> Logout</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet style=" height: 90vh !important;"></router-outlet>