<mat-toolbar class="navbar" color="primary" style="min-height: 90px !important; padding: 10px;">
  <mat-toolbar-row>
    <mat-icon class="example-icon" aria-hidden="false">shopping_cart</mat-icon>
    <span style="font-weight: bolder"> Shopify</span>
    <span class="example-spacer"></span>
    <a href="https://www.shopify.com/"><button mat-button style="color: azure;">About</button></a>
    <a href="https://help.shopify.com/en"><button mat-button style="color: azure;">Contact</button> </a>
    <button mat-button *ngIf="routeCheck()" (click)="logout()"> Logout</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="https://bazingatestapp.myshopify.com/">
        <button mat-menu-item>
          <mat-icon>shop</mat-icon>
          Go to store
        </button>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet style=" height: 90vh !important;"></router-outlet>