.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(37, 1, 194);
    color: white;
    font-weight: bold;
}

.my-pagination /deep/ .ngx-pagination {
    color: chartreuse !important;
    font-weight: bold;
    margin: 40px;
}

.mat-card-content{
    padding: 0px;
    margin: 0px;
}

.image{
    height: 150px;
}

.mat-table{
    max-width: 60%;
}

.description-cell {
    text-align: center;
    margin: 10px auto;
}

.duration-cell {
    text-align: center;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.lessons-table {
    min-height: 360px;
    margin-top: 10px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}