<div fxLayoutAlign="center">
<mat-table fxFlex="0 1 90%" class="lessons-table mat-elevation-z8" [dataSource]="dataSource | paginate: { itemsPerPage: count, currentPage: p }" class="top">

    <ng-container matColumnDef="order_number">
        <mat-header-cell *matHeaderCellDef>#Order No</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{lesson.order_number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="order_createdAt">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let order">{{order.order_createdAt.substring(0,10)}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="fulfillment_status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let order">{{order.fulfillment_status}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="line_items">
        <mat-header-cell *matHeaderCellDef>Items</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let order">{{order.line_items.length}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="total_price_set">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let order">{{order.total_price_set.shop_money.amount}} {{order.total_price_set.shop_money.currency_code}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="total_discount_set">
        <mat-header-cell *matHeaderCellDef>Discount</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let order">{{order.total_discount_set.shop_money.amount}} {{order.total_discount_set.shop_money.currency_code}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let order">
                  <button style="background-color: rgb(0, 209, 63);" mat-raised-button (click)="navigate(order._id)">View Order Details</button>

                </mat-cell>

    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div> 