/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    background-color: whitesmoke;
    margin: 0px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
    position: fixed;
    top: 0px;
    z-index: 999;
    max-height: 10vh;
}

.Login_Form {
    box-sizing: border-box !important;
    flex: 1 1 50% !important;
    max-width: 40% !important;
    margin-top: 20vh;
}

.item {
    margin: 1rem;
}

.mat-button{
    font-size: medium;
}

.top{
    margin-top: 150px
}

.h3{
    color: rgb(22, 3, 189)
}

.h1{
    color: rgb(107, 106, 106);
    margin-left: 30px;
}

.heading{
    font-weight: bold;font-size: 15px; color: darkgray; padding: 2px;
}

.des{
    margin-left: 10px; color: black;font-weight: normal;
}

.mat-divider{
    margin-top: 20px !important;
     margin-bottom: 20px !important;
}